* {
    background-color: #161821;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #C6C8D1;
    overflow: auto;
}
#app {
    display: grid;
    grid-template-rows: [top-start] auto [content-start] 1fr [content-end] auto [top-end];
    height: 90vh;
    width: 85%;
    margin: 10px auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left {
    display: flex;   
    gap: 10px; 
}
.leaderboard-button {
    overflow: hidden;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    padding: 10px;
    font-size: 20px;
}
#logo {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr;
    text-decoration: none;
    font-size: 11px;
    font-weight: 100;
}
.icon {
    overflow: hidden;
}
#logo h1 {
    margin: auto 0;
}
svg {
    width: 40px;
    height: 100%;
}
.help-button {
    overflow: hidden;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    padding: 10px;
    font-size: 23px;
}
.help-button .fa-circle-question {
    overflow: hidden;
}
.start-label {
    font-size: xx-large;
}
#software {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 3.8rem;
}
#software, #software option {
    font-size: 0.85rem;
    cursor: pointer;
}
option:hover {
    background-color: #595E76;
}
select {
  /* appearance: none; */
  border: 1px solid #ccc;
  padding: 4px 0px;
  cursor: pointer;
}
#software:focus {
    outline: none;
}
#start {
    margin: 0 !important;
    font-size: large;
}
main {
    justify-content: center;
    align-items: center;
}
#options {
    border: none;
    border-radius: 7px;
    height: 35px;
    width: 50%;
    margin: auto;
    background-color: #232531;
    display: flex;
    justify-content: space-between;
}

.scriptureButton,.scripturebutton-option {
    border: none;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 12px;
    color: #595E76;
    font-weight: 900;
    background-color: #232531;
    cursor: pointer;
    overflow: hidden;
}
.scriptureButton:hover,.scripturebutton-option:hover{
    color: #A7A9B3;
}
.active,.active2 {
    color: #84A0C6;
}
.separator {
    overflow: hidden;
    color: #161821;
    height: 80%;
    margin: auto 0;
}
.pop-in {
    opacity: 0;
    animation: popInAnimation 2s ease forwards;
}
@keyframes popInAnimation {
    to {
        opacity: 1;
    }   
}
.fast-pop-in {
    opacity: 0;
    animation: fastpopInAnimation 1s ease forwards;
}
@keyframes fastpopInAnimation {
    to {
        opacity: 1;
    }   
}
.pop-in {
    opacity: 0;
    animation: popInAnimation 2s ease forwards;
}
@keyframes popInAnimation {
    to {
        opacity: 1;
    }   
}
.timer {
    display: flex;
    max-width: 70%;
    margin: 0px auto;
}
.timer-text {
    margin: 0;
    font-size: x-large;
    color: #84A0C6; 
}
.scripture-to-search {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    margin: 30px;
}
.scripture-search {
    color: white;
    max-width: 70%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1G0px;
}
.videopsalm,.bibleshow{
    max-width: 60%;
}

.videopsalm input, .bibleshow input {
    border: 1px solid grey;
    width: 100%;
    margin: 0px auto;
    font-size: x-large;
    padding: 5px;
}
.videopsalm input:focus, .bibleshow input:focus {
    outline: none;
}
.videopsalm input:focus::placeholder, .bibleshow input:focus::placeholder {
  color: transparent;
}
.bibleshow-input {
    background-color: white; /*#f29f9f- light red, #CD5C5C - dark red*/    
    color: black;
}

div.scripture-search.bibleshow {
    width: 100%;
}
.input-class {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #013FBF;
    text-transform: capitalize;
    text-align: center;
    font-size: x-large;
    max-width: 30%;
}
.input-class:focus {
    outline: none;
    /* background-color: #013FBF; */
}
.input-class-number {
    width: max-content;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}
.restart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin: 10px 0;
}
.restart-btn {
    border: none;
    overflow: hidden;
}
.restart-btn:hover {
    cursor: pointer;
}
.restart-button .fa-arrow-rotate-right, .restart-button .fa-house {
    color: #84A0C6;
    overflow: hidden;
    font-size: larger;
    padding: 30px;
}
.fa-crown {
    color: #84A0C6;
    overflow: hidden;
    font-size: larger;
}
.fa-crown::before { 
    /*looking for a fix*/ 
}
.popup {
    position: fixed;
    border: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 5;
    background: transparent;
}
.popup-cover {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
}
.popup-content {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #161821;
    border: 2px solid #C6C8D1;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.popup-title {
    font-size: xx-large;
}
.numberInput {
    border: 2px solid #C6C8D1;
    border-radius: 8px;
    height: 10%;
    width: 100%;
    text-align: left;
    font-size: large;
    margin: 10px;
}
.numberInput:focus {
    background-color: #161821;
    border: 2px solid #C6C8D1;
    outline: none;
}
.customparam {
    margin: 0;
    padding: 0;
}
.okBtn, #start {
    color: white;
    border: none;
    background-color: #595E76;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    padding: 8px 16px;
    margin: 10px 0;
    font-weight: bold;
}
.okBtn:hover , #start:hover {
    color: black;
    background-color: #C6C8D1;
}
.result {
    display: flex;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.help {
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.help-content {
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 800px;
    max-height: 80vh;
    background-color: #161821;
    border: 2px solid #C6C8D1;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    z-index: 10000;
    line-height: 1.6;
}
.help-content h2 {
    text-align: center;
    font-size: 1.75rem;
    margin: 10px 0;
}
.help-content ol {
    counter-reset: item;
}
.help-image {
    text-align: center;
    margin: 12px 0;
}
.help-image img {
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  }
.help-content::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 10px; 
}
.help-content::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 5px; 
}
.help-content::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
    cursor: default;
    background: #555; 
}
.hidden {
    display: none !important;
}
#average-result-text {
    color:#595E76;
    font-size: x-large;
}
#average {
    color: #84A0C6;
    font-size: xx-large;
    margin-bottom: 12%;
}
#test-type-text {
    color: #595E76;
}
#custom-test-type, #software-type, #best-time {
    color: #84A0C6;
}
.result-display {
    display: flex;
}