<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScriptureType</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='country.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='assets/EWT.png')}}">
    <script src="https://kit.fontawesome.com/288289805d.js" crossorigin="anonymous"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FKYGFMBMLY"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-FKYGFMBMLY');
</script>

<body>
    <div id="app">
        <header>
            <div class="header-left">
                <a href="#" id="logo">
                    <div class="icon">
                        <img src="{{url_for('static',filename='assets/easy worship.png')}}" alt="Easy Worship logo"
                            width="55px" height="100%">
                    </div>
                    <h1>ScriptureType</h1>
                </a>
                <a href="/leaderboards">
                    <button id="leaderboard-button" class="leaderboard-button" title="Show leaderboard">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 246.58 176.82">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #53a0c6;
                                    }

                                    .cls-2 {
                                        fill: #ef472e;
                                    }

                                    .cls-3 {
                                        font-size: 34.57px;
                                        fill: #231f20;
                                        font-family: Arial-Black, Arial;
                                        font-weight: 800;
                                    }
                                </style>
                            </defs>
                            <rect class="cls-1" y="124.72" width="45.91" height="52.1" />
                            <rect class="cls-1" x="61.22" y="98.67" width="45.91" height="52.1" />
                            <rect class="cls-1" x="61.22" y="150.77" width="45.91" height="26.05" />
                            <rect class="cls-1" x="122.43" y="98.67" width="45.91" height="52.1" />
                            <rect class="cls-1" x="122.43" y="150.77" width="45.91" height="26.05" />
                            <rect class="cls-1" x="122.43" y="72.62" width="45.91" height="26.05" />
                            <rect class="cls-2" x="244.36" y="301.45" width="133.92" height="50.61"
                                transform="translate(171.99 -365.4) rotate(45)" /><text class="cls-3"
                                transform="translate(117.12 57.93) rotate(45)">NEW!</text>
                            <polyline class="cls-2" points="75.29 35.79 95.84 56.33 113.73 38.44" />
                            <polyline class="cls-2" points="111.08 0 131.62 20.54 113.73 38.44" />
                            <polyline class="cls-2" points="210.79 171.29 190.25 150.74 208.14 132.85" />
                            <polyline class="cls-2" points="246.58 135.5 226.04 114.96 208.14 132.85" />
                        </svg>
                    </button>
                </a>
            </div>
            <button id="help-button" onclick="displayHelp()" class="help-button" title="Show help">
                <i class="fa-solid fa-circle-question"></i>
            </button>
        </header>
        <div id="selection" class="result pop-in">
            <form>
                <label for="software" class="start-label">Select church presentation software</label>
                <br>
                <select name="software" id="software" required>
                    <option value="EasyWorship">EasyWorship</option>
                    <option value="VideoPsalm">VideoPsalm</option>
                    <option value="BibleShow">BibleShow</option>
                </select>
                <br>
                <input type="submit" value="Start" id="start">
            </form>
        </div>
        <main id="main" class="hidden">
            <div id="options">
                <button class="scripturebutton-option">Time</button>
                <button class="scripturebutton-option active2">Scripture count</button>
                <div class="separator">|</div>
                <button class="scriptureButton active" id="opt1">10 Scriptures</button>
                <button class="scriptureButton" id="opt2">20 Scriptures</button>
                <button class="scriptureButton" id="custom">Custom</button>
            </div>
            <div id="main-app" class="pop-in">
                <div id="timeblock" class="timer hidden">
                    <h1 id="timerText" class="timer-text"></h1>
                </div>
                <div id="scripture" class="scripture-to-search"></div> <!--Scripture pops up here-->
                <div class="scripture-search easyworship hidden" id="easyworship-box">
                    <!--This will change based on the software selected [Easy Worship, VideoPsalm, BibleShow]-->
                    <input type="text" id="book" list="books" value="Genesis" class="input-class" oninput="startTimer()"
                        autocomplete="off">
                    <input type="text" inputmode="numeric" id="chapter" value="1" min="1"
                        class="input-class input-class-number" oninput="startTimer()" autocomplete="off">
                    <input type="text" inputmode="numeric" id="verse" value="1" min="1"
                        class="input-class input-class-number" oninput="startTimer()" autocomplete="off">
                    <button style="display: none;" onclick="checkReference()"></button>
                </div>
                <div class="scripture-search videopsalm hidden" id="videopsalm-box">
                    <input type="text" id="videopsalm-input" class="videopsalm-input"
                        placeholder="Reference to select, e.g.: Romans 3:23">
                </div>
                <div class="scripture-search bibleshow" id="bibleshow-box">
                    <input type="text" id="bibleshow-input" class="bibleshow-input" placeholder="Reference">
                </div>
                <div id="restart" class="restart-button">
                    <button id="restartButton" class="restart-btn"><i
                            class="fa-solid fa-arrow-rotate-right"></i></button>
                    <button id="homeButton" class="restart-btn">
                        <i class="fa-solid fa-house" style="color: #84A0C6;"></i>
                    </button>
                </div>
            </div>
            <div id="popup" class="popup hidden">
                <div class="popup-cover"></div>
                <div class="popup-content">
                    <label for="customInput" class="popup-title">Custom scripture amount</label>
                    <input type="number" value="5" class="numberInput" id="customInput" min="1">
                    <p class="customparam">Min: 5<br>Max: 99</p>
                    <button id="okBtn" class="okBtn">Ok</button>
                </div>
            </div>
            <div class="popup" id="get-user-details">
                <div class="popup-cover"></div>
                <div class="popup-content" style="margin: 0 20px;">
                    <form id="form-details">
                        <h1>New High Score</h1>
                        <h3>See where you're at on the leaderboard!</h3>
                        <div class="user-form-area">
                            <div class="section-form">
                                <label for="userName" class="form-label-text">Name</label>
                                <input type="text" id="userName" name="name" placeholder="Enter your name" required
                                    maxlength="15" class="modern-input">
                            </div>
                            <div class="section-form">
                                <label for="userCountry" class="form-label-text">Country</label>
                                <div class="custom-select-container">
                                    <input type="text" id="userCountry" name="country" placeholder="Select a country"
                                        autocomplete="off" required class="modern-input">
                                    <i class="fa-solid fa-chevron-down country-chevron"></i>
                                    <div id="country-list" class="country-list">f</div>
                                </div>
                            </div>
                            <div class="button-section-form">
                                <button type="submit" class="form-buttons" id="user-submit-button">Submit</button>
                                <button type="button" class="form-buttons"
                                    onclick="document.getElementById('get-user-details').classList.add('hidden')">Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <div id="result" class="result hidden pop-in">
            <div>
                <div id="average-result-text">Average Time</div>
                <div class="result-display">
                    <div id="average">0.000</div> <i class="fa-solid fa-crown hidden" id="best-crown"></i>
                </div>
            </div>
            <div class="extra-information">
                <div style="padding-bottom: 5px;">
                    <div id="test-type-text">Test type</div>
                    <div id="custom-test-type">Scriptures 10</div>
                </div>
                <div style="padding-bottom: 5px;">
                    <div id="test-type-text">Software</div>
                    <div id="software-type">EasyWorship</div>
                </div>
                <div>
                    <div id="test-type-text">Best time</div>
                    <div id="best-time">-</div>
                </div>
            </div>
            <div id="restart2" class="restart-button">
                <button id="restartButton2" class="restart-btn"><i class="fa-solid fa-arrow-rotate-right"></i></button>
                <button id="homeButton2" class="restart-btn"><i class="fa-solid fa-house"
                        style="color: #84A0C6;"></i></button>
            </div>
        </div>
        <div id="help" class="help hidden fast-pop-in">
            <div class="popup-cover"></div>
            <div class="help-content">
                <h2>How to use ScriptureType</h2>
                <ol>
                    <li>
                        <strong>Choose software</strong><br />
                        Use the "select church presentation software" dropdown to between pick EasyWorship, VideoPsalm,
                        or BibleShow. The input rules change depending on your choice.
                    </li>
                    <li>
                        <strong>Choose a drill</strong><br />
                        Use the selection pane to choose how many verses you’ll attempt or seconds to count down from.
                        <div class="help-image">
                            <img src="{{url_for('static',filename='assets/scripture_select_pane.png')}}" width="606"
                                height="68" alt="Selection pane pic" />
                        </div>
                    </li>
                    <li>
                        <strong>Start typing</strong><br />
                        Click on the displayed input and press any key to start the test
                    </li>
                    <li>
                        <strong>Submit each verse:</strong><br />
                        Press <code>Enter</code> after typing the verse reference in the format required by the selected
                        software. A new scripture will then
                        appear.
                    </li>
                    <li>
                        <strong>Finish & see results:</strong><br />
                        After completing your selected count or when the countdown ends, your results will be displayed.
                    </li>
                    <li>
                        <strong>Home/Restart</strong><br />
                        Click the ScriptureType logo (top-left) or press the Home button to return to the start screen
                        or press the restart button to reset the current test.
                    </li>
                </ol>
                <button id="confirm-help" class="okBtn">Ok</button>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const textBox = document.getElementById('userName');
            textBox.addEventListener('input', () => {
                if (textBox.value.length > 15) {
                    textBox.value = textBox.value.slice(0, 15);
                }
            });
        });
    </script>
    <script id="scripture-data" type="application/json">
        {{ scripture_data | tojson }}
    </script>
    <script id="bible-books" type="application/json">
        {{ bible_books | tojson }}
    </script>
    <script id="prefix-map" type="application/json">
        {{ prefix_map| tojson }}
    </script>
    <script id="alias-map" type="application/json">
        {{ alias_map| tojson }}
    </script>
    <script src="{{url_for('static',filename='script.js')}}"></script>
    <script src="{{url_for('static',filename='country-select.js')}}"></script>
</body>

</html>