<!--There will be some duplicate codes for now until I figure out how to use base.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboards | ScriptureType</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css"/>
</head>
<body>
    <div id="app">
        <header>
            <div class="header-left">
                <a href="/" id="logo">
                    <div class="icon">
                        <img src="{{url_for('static',filename='assets/easy worship.png')}}" alt="Easy Worship logo"
                            width="55px" height="100%">
                    </div>
                    <h1>ScriptureType</h1>
                </a>
                <a href="/leaderboards">
                    <button id="leaderboard-button" class="leaderboard-button" title="Show leaderboard">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 246.58 176.82">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #53a0c6;
                                    }

                                    .cls-2 {
                                        fill: #ef472e;
                                    }

                                    .cls-3 {
                                        font-size: 34.57px;
                                        fill: #231f20;
                                        font-family: Arial-Black, Arial;
                                        font-weight: 800;
                                    }
                                </style>
                            </defs>
                            <rect class="cls-1" y="124.72" width="45.91" height="52.1" />
                            <rect class="cls-1" x="61.22" y="98.67" width="45.91" height="52.1" />
                            <rect class="cls-1" x="61.22" y="150.77" width="45.91" height="26.05" />
                            <rect class="cls-1" x="122.43" y="98.67" width="45.91" height="52.1" />
                            <rect class="cls-1" x="122.43" y="150.77" width="45.91" height="26.05" />
                            <rect class="cls-1" x="122.43" y="72.62" width="45.91" height="26.05" />
                            <rect class="cls-2" x="244.36" y="301.45" width="133.92" height="50.61"
                                transform="translate(171.99 -365.4) rotate(45)" /><text class="cls-3"
                                transform="translate(117.12 57.93) rotate(45)">NEW!</text>
                            <polyline class="cls-2" points="75.29 35.79 95.84 56.33 113.73 38.44" />
                            <polyline class="cls-2" points="111.08 0 131.62 20.54 113.73 38.44" />
                            <polyline class="cls-2" points="210.79 171.29 190.25 150.74 208.14 132.85" />
                            <polyline class="cls-2" points="246.58 135.5 226.04 114.96 208.14 132.85" />
                        </svg>
                    </button>
                </a>
            </div>
            <button id="help-button" onclick="displayHelp()" class="help-button" title="Show help">
                <i class="fa-solid fa-circle-question"></i>
            </button>
        </header>
        <div class="leaderboard-main">
            <div class="leaderboard-side-bar-inner">
                <button class="side-bar-button leaderboard-active"> 
                    10 scriptures
                </button>
                <button class="side-bar-button">
                    20 scriptures
                </button>
                <div class="leaderboard-score-separator"></div>
                <button class="side-bar-button">
                    30 seconds
                </button>
                <button class="side-bar-button">
                    60 seconds
                </button>
            </div>
            <div class="leaderboard-table">
                <table>
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Score</th>
                            <th>Software used</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                    {%for data in top_10%}
                        <tr>
                            {%if loop.index0+1 == 1%}
                                <td><span>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 640 640" style="fill: #595E76" class="rank-icon">
                                        <path
                                            d="M345 151.2C354.2 143.9 360 132.6 360 120C360 97.9 342.1 80 320 80C297.9 80 280 97.9 280 120C280 132.6 285.9 143.9 295 151.2L226.6 258.8C216.6 274.5 195.3 278.4 180.4 267.2L120.9 222.7C125.4 216.3 128 208.4 128 200C128 177.9 110.1 160 88 160C65.9 160 48 177.9 48 200C48 221.8 65.5 239.6 87.2 240L119.8 457.5C124.5 488.8 151.4 512 183.1 512L456.9 512C488.6 512 515.5 488.8 520.2 457.5L552.8 240C574.5 239.6 592 221.8 592 200C592 177.9 574.1 160 552 160C529.9 160 512 177.9 512 200C512 208.4 514.6 216.3 519.1 222.7L459.7 267.3C444.8 278.5 423.5 274.6 413.5 258.9L345 151.2z" />
                                    </svg>
                                </span></td>
                            {%else%}
                                <td><span>{{loop.index0+1}}</span></td>
                            {%endif%}
                           <td><span class="player-name">{{data[0]}}</span></td>
                            <td class="leaderboard-flag-column"><div class="leaderboard-flag-area"><span class="fi fi-xx fi-{{data[1].lower()}} leaderboard-profile-flag" data-country="{{data[4]}}" aria-label="{{data[4]}}" tabindex="0"></span><span class="country-tip-text">{{data[4]}}</span></div></td>
                            <td><span>{{data[2]}}</span></td>
                            <td><span>{{data[3]}}</span></td>

                        </tr>
                    {%endfor%}
                    </tbody>
                </table>
                {%if player_position_info%}
                    <h1>Your position</h1>
                    <table>
                        <tbody class="table-body">
                            <tr>
                                <td><span>{{player_position_info[0]}}</span></td>
                                <td><span class="player-name">{{player_position_info[1]}}</span></td>
                                <td class="leaderboard-flag-column"><div class="leaderboard-flag-area"><span class="fi fi-xx fi-{{player_position_info[2].lower()}} leaderboard-profile-flag" data-country="{{player_position_info[5]}}" aria-label="{{player_position_info[5]}}" tabindex="0"></span><span class="country-tip-text">{{player_position_info[5]}}</span></div></td>
                                <td><span>{{player_position_info[3]}}</span></td>
                                <td><span>{{player_position_info[4]}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                {%endif%}
            </div>
        </div>
    </div>
    <script src="{{url_for('static',filename='leaderboard.js')}}">

    </script>
</body>
</html>